.footer {
  width: 100%;
  background-color: tomato;
  display: inline-block;
  align-content: center;
  justify-content: center;

  .logos {
    display: flex;
    justify-content: space-evenly;
    .logos-link:hover {
      text-decoration: none;
      color: #eee;
    }
  }

  .fa-envelope,
  .fa-linkedin,
  .fa-github,
  .fa-twitter,
  .fa-instagram {
    margin: 0.3em 0;
    padding: 0 1em;
    font-size: 2em;
  }

  .last-part {
    background-color: #000;
    color: #eee;
    display: flex;
    justify-content: center;
  }
}
